@charset "UTF-8";
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  font-family: 微軟正黑體 !important;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

html body {
  width: 100%;
  height: auto;
  font-family: 微軟正黑體 !important;
  position: relative;
  border: 8px solid #3f2c2e;
  border-bottom: none;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
html body header {
  width: 100%;
  height: auto;
  font-family: 微軟正黑體 !important;
}
html body header .header-top {
  width: 100%;
  height: 550px;
  background: #eeeeee;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
html body header .header-top .main-left {
  width: 23%;
  height: 550px;
  z-index: 1000;
}
html body header .header-top .main-left .hamburger-in {
  height: 33%;
  display: inline;
}
html body header .header-top .main-left .hamburger {
  height: 33%;
  /*Cursor on toggle button hover*/
  /*Changing color of hamburger lines on hover*/
  /*Styles for the hamburger lines*/
  /*No margin-bottom for last hamburger line.*/
  /*List container*/
  /*List*/
  /*List items*/
  /*Subscribe link*/
  /*Cursor and text undelrine on hover*/
  /*Background and text colour change on click*/
}
html body header .header-top .main-left .hamburger #menu-btn {
  position: absolute;
  left: 0.3em;
  top: 1em;
  width: 3em;
  padding: 1.5em;
  border-radius: 100%;
  -webkit-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
  position: fixed;
}
html body header .header-top .main-left .hamburger #menu-btn:hover {
  cursor: pointer;
}
html body header .header-top .main-left .hamburger .menu-btn-line {
  height: 0.2em;
  background-color: #000000;
  margin-bottom: 0.5em;
}
html body header .header-top .main-left .hamburger .menu-btn-line:last-child {
  margin-bottom: 0;
}
html body header .header-top .main-left .hamburger #menu {
  position: absolute;
  top: 7em;
  left: 1em;
  border: 0.5em solid #98c3d4;
  width: 10em;
  padding: 1em;
  background: #ffffff;
  z-index: 1000;
  position: fixed;
}
html body header .header-top .main-left .hamburger #menu ul {
  padding: 0;
  margin: 0;
}
html body header .header-top .main-left .hamburger #menu ul li {
  list-style-type: none;
  left: 0;
  padding: 0.5em;
  color: #000000;
  -webkit-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}
html body header .header-top .main-left .hamburger #menu ul li:last-child {
  margin-top: 0.5em;
  padding-top: 1em;
  border-top: 1px solid #000000;
}
html body header .header-top .main-left .hamburger #menu ul li:hover {
  cursor: pointer;
  text-decoration: underline;
}
html body header .header-top .main-left .text-1 {
  height: 33%;
  text-align: center;
  padding-left: 1em;
}
html body header .header-top .main-left .text-1 .text-box-1 {
  font-size: 40px;
  text-align: left;
}
html body header .header-top .main-left .text-2 {
  height: 33%;
  text-align: center;
  padding-left: 1em;
}
html body header .header-top .main-left .text-2 .text-box-2 {
  font-size: 16px;
  text-align: left;
}
html body header .header-top .main-right {
  width: 77%;
  height: 550px;
}
html body header .header-top .main-right .sea-picture {
  height: 550px;
  background: url(../image/sea.jpg) no-repeat top center;
  background-size: cover;
}
html body header .header-bottom {
  width: 100%;
  height: 14vw;
  background: url(../image/imnono.png) no-repeat;
  background-size: 100%;
}
html body header .marquee {
  width: 100%;
  margin-top: 20px;
}
html body header .marquee marquee {
  color: #000000;
  font-size: 23px;
  font-weight: 400;
}
html body main {
  width: 100%;
  height: auto;
  margin-top: 20px;
}
html body main .logo-main {
  height: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
html body main .logo-main .logo-1 {
  width: 33.4%;
  height: 25vw;
  background: url(../image/logo1.jpg) no-repeat top center;
  background-size: cover;
}
html body main .logo-main .logo-2 {
  width: 33.3%;
  height: 25vw;
  background: url(../image/logo2.png) no-repeat top center;
  background-size: cover;
}
html body main .logo-main .logo-3 {
  width: 33.3%;
  height: 25vw;
  background: url(../image/logo3.jpg) no-repeat top center;
  background-size: cover;
}
html body main .logo-main .logo-4 {
  width: 33.4%;
  height: 33vw;
  background: url(../image/logodesign.jpg) no-repeat top center;
  background-size: 100%;
}
html body main .logo-main .logo-5 {
  width: 33.3%;
  height: 33vw;
  background: url(../image/logo4.jpg) no-repeat top center;
  background-size: 100%;
}
html body main .logo-main .logo-6 {
  width: 33.3%;
  height: 33vw;
  background: url(../image/logo5.jpg) no-repeat top center;
  background-size: cover;
}