html body {
    width: 100%;
    height: auto;
    font-family: 微軟正黑體 !important;
    position: relative;
    border: 8px solid #3f2c2e;
    border-bottom: none;
    box-sizing: border-box;

    #GotoTop {
        width: 40px;
        height: 40px;
        background:#ffffff;
        border: 2px solid #000000;
        border-radius: 60%;
        position: fixed;
        right: 8px;
        bottom: 13px;
        font-size: 3.5vh;
        text-align: center;
        color: #000;
      }

      header {
        width: 100%;
        height: auto;
        font-family: 微軟正黑體 !important;
  
        #header-top {
          width: 100%;
          height: auto;
          background: #eeeeee;
          display: flex;
  
          .main-left2 {
            width: 7%;
            height: auto;
            z-index: 1000;
  
            .hamburger-in {
              height: 33%;
              display: inline;
            }
  
            .hamburger {
              height: 33%;
  
              #menu-btn{ 
                position: absolute; 
                left: 0.3em; 
                top: 1em;
                width: 3em;
                padding: 1.5em;
                border-radius: 100%;
                transition: all .2s ease-out;
                position: fixed;
              }
                /*Cursor on toggle button hover*/
                #menu-btn:hover{ cursor: pointer; }
                /*Changing color of hamburger lines on hover*/
                // #menu-btn:hover .menu-line{ background-color: #999999; }
              
                /*Styles for the hamburger lines*/
                .menu-btn-line{ 
                  height: .2em; 
                  background-color: #000000; 
                  margin-bottom: .5em; 
                }
                /*No margin-bottom for last hamburger line.*/
                .menu-btn-line:last-child{ margin-bottom: 0; }
              
              /*List container*/
              #menu{ 
                position: absolute; 
                top: 7em; 
                left: 1em; 
                border: .5em solid #98c3d4; 
                width: 10em;
                padding: 1em;
                background: #ffffff;
                z-index: 1000;
                position: fixed;
  
                li {
                  a {
                    color: #000000;
                    text-decoration: none;
                    &:active {
                      color: #000000;
                    }
                  }
                }
              }
                /*List*/
                #menu ul{ padding: 0; margin: 0; }
                  /*List items*/
                  #menu ul li{ 
                    list-style-type: none; 
                    left: 0; 
                    padding: .5em;
                    color: #000000;
                    transition: all .3s ease-out;
                  }
                  /*Subscribe link*/
                  #menu ul li:last-child{
                    margin-top: .5em;
                    padding-top: 1em;
                    border-top: 1px solid #000000;
                  } 
                    /*Cursor and text undelrine on hover*/
                    #menu ul li:hover{
                      cursor: pointer;
                      text-decoration: underline;
                    }
                    /*Background and text colour change on click*/
                    // #menu ul li:active{
                    //   background-color: #000000;
                    // }
            }
          }
          .main-right2 {
            width: 89%;
            height: auto;
            display: block;
            padding: 5vw 0 0 0;
            box-sizing: border-box;

            .aboutme {
              width: 36%;
              margin: auto;
              font-size: 4vw;
              color: #000000;
              padding: 5vw 0 0 0;
              margin-bottom: 4vw;
              text-align: center;
            }

            .profile-img {
              width: 36%;
              height: 26vw;
              background: url(../image/profile.jpg)no-repeat top center;
              background-size: cover;
              margin: auto;
            }

            @media (max-width:975px){

              .aboutme {
                font-size: 6vw;
                margin-bottom: 8vw
              }

                .profile-img {
                  width: 45%;
                  height: 33vw;
                }
            }

            @media (max-width:480px){
              .profile-img {
                width: 80%;
                height: 70vw;
              }
            }

            .portfolio-box {
              width: 50%;
              height: auto;
              margin: 3vw auto;
              line-height: 2vw;

              .name {
                font-size: 2vw;
              }
              .name2 {
                font-size: 1.3vw;
                margin-bottom: 1vw;
              }

              ul {
                margin-bottom: 3vw;
                li {
                  font-size: 1.2vw;
                }
              }
            }
          }
          @media (max-width:975px) {
            .main-right2 {
              padding: 6vw 0 0 0;
            }
          }
          @media (max-width:480px) {
            .main-right2 {
              padding: 18vw 0 0 0;

              .portfolio-box {
                width: 77%;
                line-height: 4.3vw;
              }
            }
          }
        }
      }
}