//header
html body {
    width: 100%;
    height: auto;
    font-family: 微軟正黑體!important;
    position: relative;

    header {
      width: 100%;
      height: auto;

      .header-top {
        width: 100%;
        height: 550px;
        background: #eeeeee;
        display: flex;

        .main-left {
          width: 33%;
          height: 550px;

          .hamburger {
            height: 30%;
          }

          .text-1 {
            height: 33%;
            text-align: center;
            
            .text-box-1 {
              font-size: 40px;
              top: -20%;
              transform: translateY(20%);
            }
          }

          .text-2 {
            height: 33%;
            text-align: center;

            .text-box-2 {
              font-size: 16px;
              top: -40%;
              transform: translateY(40%);
            }
          }
        }
        .main-right {
          width: 70%;
          height: 550px;
          background: url(../image/sea.jpg)no-repeat;
          background-size: cover;
        }
      }
      .header-bottom {
        width: 100%;
        height: 300px;
        background: url(../image/imnono.png) no-repeat;
        background-size: 100%;
      }
    }
}